/* sm sizes */
@media (width <= 48rem) {
    
}

/* xs sizes */ 
@media (width <= 36rem) and (width >= 20rem) {
    .content {
        width: 20rem;
    }

    #container-2 {
        margin-top: 1.5rem;
        align-self: self-start;
    }

    .header {
        margin-bottom: 2.5rem;  
    }

    .fs-xl {
        font-size: 3rem;
    }

    .fs-l {
        font-size: 1.5rem;
    }

    .fs-s {
        font-size: 0.8rem;
    }

    .fs-xs {
        font-size: 0.8rem;
    }

    #restart-button {
        padding-block: .8rem;
    }

    #accent-button-1 {
        padding-block: 1rem;
    }

    #accent-button-2 {
        padding-block: 1rem;
    }

    .game-square {
        font-size: 3rem;
        width: 6rem;
        height: 6rem;
    }

    .p-400 {
        padding: .3rem 1rem;
    }

    .equal-size-flex-item {
        flex-basis: 6rem;
    }
    /* .nowrap {
        white-space: nowrap;
    } */
}