/* Colors and Text */
.secondary-700-bg {
    background-color: var(--secondary-700);
}

.secondary-800-bg {
    background-color: var(--secondary-800);
}

.accent-200-bg {
    background-color: var(--accent-200);
}

.primary-1-bg {
    background-color: var(--primary-1);
}

.primary-2-bg {
    background-color: var(--primary-2);
}

.secondary-800-clr {
    color: var(--secondary-800);
}

.accent-200-clr {
    color: var(--accent-200);
}

.primary-1-clr {
    color: var(--primary-1);
}

.primary-2-clr {
    color: var(--primary-2);
}

.body-text {
    font-size: var(--fs-body);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.main-heading {
    text-align: center;
    font-size: var(--fs-l);
    line-height: normal;
    justify-content: center;
}


.heading-m {
    font-weight: var(--fw900);
    font-size: var(--fs-m);
}

.heading-s {
    font-weight: var(--fw900);
    font-size: var(--fs-s);
    color: var(--secondary-800);
}

.heading-xs {
    font-weight: var(--fw900);
    font-size: var(--fs-xs);
}

/* Sizes */
.vertical-p-800 {
    padding-block: 4rem;
}

.vertical-p-700 {
    padding-block: 2.8rem;
}

.vertical-p-300 {
    padding-block: 0.8rem;
}

.p-600 {
    padding: 0.8rem 5rem 1.4rem;
}

.p-500 {
    padding: 1.5rem;
}

.p-400 {
    padding: .5rem 2rem;
}

.p-300 {
    padding: 0.6rem 1rem;
}

.p-200 {
    padding: 1rem;
}

.p-100 {
    padding: 0.5rem;
}

.m-top-200 {
    margin-top: 1.4rem;
}

.gap-400 {
    gap: var(--spacer-400);
}

.gap-500 {
    gap: var(--spacer-500);
}

.square-size-w {
    width: var(--square-size);
}

.border-radius-300 {
    border-radius: 15px;
}

.border-radius-200 {
    border-radius: 10px;
}

/* Layout */
.flex-dir-col {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.text-align {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-self-center {
    align-self: center;
}

/* Other */
.display-none {
    display: none;
}

