/* Colors and Fonts */
.semi-dark-navy-bg {
    background-color: var(--semi-dark-navy);
}

.dark-navy-bg {
    background-color: var(--bg-color);
}

.silver-bg {
    background-color: var(--silver);
}

.light-blue-bg {
    background-color: var(--light-blue);
}

.light-yellow-bg {
    background-color: var(--light-yellow);
}

.dark-navy-clr {
    color: var(--bg-color);
}

.silver-clr {
    color: var(--silver);
}

.body-text {
    font-size: var(--fs-body);
}

.heading-m {
    font-weight: var(--fw900);
    font-size: var(--fs-h-m);
}

.heading-s {
    font-weight: var(--fw900);
    font-size: var(--fs-h-s);
    color: var(--bg-color);
}

.heading-xs {
    font-weight: var(--fw900);
    font-size: var(--fs-h-xs);
}

/* Spacing */
.vertical-p-700 {
    padding-block: 45px;
}

.vertical-p-300 {
    padding-block: 0.7rem;
}

.p-600 {
    padding: 14px 80px 22px;
}

.p-500 {
    padding: 24px;
}

.p-400 {
    padding: 8px 24px;
}

.p-300 {
    padding: 10px 16px;
}

.p-200 {
    padding: 16px;
}

.p-100 {
    padding: 8px;
}

.m-top {
    margin-top: var(--spacer-300);
}

/* Layout */
.d-flex-col {
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.text-align {
    text-align: center;
}


/* Other */
.border-radius-300 {
    border-radius: 15px;
}

.border-radius-200 {
    border-radius: 10px;
}